*.o
*.lo
*.la
*.in
.libs
.deps
.dirstamp
config*
Makefile
autom4te.cache
libtool
install-sh
depcomp
compile
aclocal.m4
m4
missing
ltmain.sh
ylwrap

src/libmcc_la-scanner.c
scanner.h
src/parser.c
src/parser.h

mcc2dot
mcc2tac
mcc_check
test-driver
test_*
*.log
*.trs
